extends layout
block content
    h1= title
    if (toShow == null)
     h2 No instance to delete
    else
     - let Airlinesid = toShow._id
     - let airlines_name = toShow.airlines_name
     - let seating = toShow.seating
     - let price = toShow.price
     - let actionid = "/resource/Airlines/" + Airlinesid
     script let actionid = "#{actionid}"
     div
        div.row
            div(class='AirlinesAttr mr-3') Airlines ID is:
            div #{Airlinesid}
        div.row
            div(class='AirlinesAttr mr-3') airlines_name is:
            div #{airlines_name}
        div.row
            div(class='AirlinesAttr mr-3') seating is:
            div #{seating}
        div.row
            div(class='AirlinesAttr mr-3') price is:
            div #{price}
     button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
     button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/Airlines'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
        method: 'DELETE' 
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Delete succeded")
        window.location.href='/Airlines'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
        });
     }